# IDE e IntelliJ (Android Studio)
.idea/
*.iml
*.ipr
*.iws

# Archivos de compilación y temporales
.gradle/
build/
captures/
.externalNativeBuild/
.cxx/

# Configuración local y secretos
local.properties
.DS_Store

# Archivos de sistema
/out
